html {
    height: 100%;
}
body {
    padding-top: 50px;
    height: 100%;
}

#homeContainer {
    height: 100%;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.verticalLine {
    padding-left: 20px;
}