@(gameName: String, game_id : Long, joinedPlayers : List[Player])

<!DOCTYPE html>

<html>
    <head>
        <style>
            body {
            padding-top: 70px;
            padding-bottom: 30px;
            }
        </style>
        <title>@gameName</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/ico" href="@routes.Assets.at("images/favicon.ico")">
        <script>
            function checkLogin() {
             if(window.sessionStorage.length!=0)
                document.getElementById('loginName').innerText = window.sessionStorage.getItem("loginName")
            }
        </script>
            <!-- Bootstrap core CSS -->
        <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">

            <!-- Custom styles for this template -->
        <link href="@routes.Assets.at("stylesheets/starter-template.css")" rel="stylesheet">

            <!-- Bootstrap core JavaScript
    ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
        <script src="@routes.Assets.at("javascripts/jquery-1.11.3.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
    </head>
    <body onload="checkLogin()">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Liar's Poker Game</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#rules">Rules</a></li>
                        <li><a id="loginName" data-target="#loginModal" data-toggle="modal">Login</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container">
            <h2>
                @gameName
                <span class="glyphicon glyphicon-edit"></span>
            </h2>
            <h3>
                <span class="label label-primary">Public</span>
                <span class="label label-info">Max : 5</span>
                <span class="label label-info">Joined : @joinedPlayers.size </span>
            </h3>
            <hr/>

            <div class="panel panel-success">
                <div class="panel-heading">Joined Players</div>
                <div class="list-group">
                @for(player <- joinedPlayers){
                    <a href="#" class="list-group-item">@player.name</a>
                }
                </div>
            </div>

            <button id="startGameBtn" style="display: none;" type="button" class="btn btn-lg btn-success">Start Game</button>
        </div>
    <script>
    if(window.sessionStorage.getItem("isAdmin")==="true")
        $("#startGameBtn").get(0).style.display = "block";

    $("#startGameBtn").get(0).onclick = function() {
        var xhr = $.ajax({
                url : "/startGame/" + @game_id,
                type : "GET",
                dataType: "html",
                success : function(response) {
                    location.href = "/startGame/"+@game_id
                }
        })
    }

    var event = new EventSource("@routes.JoinGameController.updatedJoinedPlayers(game_id)");
    event.addEventListener('message', function( event ) {
       console.log(event.data);
       var player = JSON.parse(event.data);
       $('<li class="list-group-item">' + player.name + '</li>').appendTo(".list-group")
    }
    );

    </script>

    </body>
</html>