@(game_id : Long)
<html>
    <head>
        <style>
            #gameStatusModal .modal-dialog  {width:35%;}
        </style>
        <title>Game Play</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/ico" href="@routes.Assets.at("images/favicon.ico")">
        <script>
            function checkLogin() {
             if(window.sessionStorage.length!=0)
                document.getElementById('loginName').innerText = window.sessionStorage.getItem("loginName")
            }

            window.sessionStorage.setItem("handType", "NA")
            window.sessionStorage.setItem("valueType", "NA")
            window.sessionStorage.setItem("suitType", "NA")
            window.sessionStorage.setItem("turn_number", "NA")
            window.sessionStorage.setItem("round_number", "NA")

            var player_id = Number(window.sessionStorage.getItem("loginId"))
            var ws = new WebSocket("ws://localhost:9000/gamePlay/"+ @game_id + "/" + player_id +  "/play")
                ws.onopen = function()
                {
                    // Web Socket is connected, send data using send()
                    var player = {
                        "id" : Number(window.sessionStorage.getItem("loginId")),
                        "name" : window.sessionStorage.getItem("loginName"),
                        "email" : window.sessionStorage.getItem("loginEmail")
                    }
                    var json = {"action" : "GameStatus", "player" : player}
                    ws.send(JSON.stringify(json));
                    console.log("Message is sent...");
                };

                ws.onmessage = function (evt)
                {
                    var gameStatusOrBet = JSON.parse(evt.data);
                    console.log(gameStatusOrBet);
                    if(gameStatusOrBet.length > 1) // This is check for socket message is game status or a bet!!
                    {
                        $('#playerStatusTable td').remove();
                        for(var i=0;i<gameStatusOrBet.length;i++)
                        {
                            var p = gameStatusOrBet[i]
                            $('#playerStatusTable tr:last').after('<tr> <td>' + p.name + '</td> <td>' + p.num_of_cards + '</td> <td>'+ p.position +'</td></tr>');
                        }
                        $("#gameStatusModal").modal("show")
                    }
                    else
                    {
                        $("#previousBet").get(0).innerHTML = "Previous Bet : " + gameStatusOrBet.bet
                    }
                };

                ws.onclose = function()
                {
                    // websocket is closed.
                    console.log("Connection is closed...");
                };
        </script>
            <!-- Bootstrap core CSS -->
        <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">

            <!-- Custom styles for this template -->
        <link href="@routes.Assets.at("stylesheets/starter-template.css")" rel="stylesheet">

            <!-- Bootstrap core JavaScript
    ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
        <script src="@routes.Assets.at("javascripts/jquery-1.11.3.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/paper-full.min.js")"></script>
        <script type="text/paperscript" canvas="canvas">
        //paper.view.setCenter(window.screen.availWidth/ , window.screen.availHeight/8)
        paper.view.setViewSize(450,450)
        // var a = new Point(10,20)
        // console.log(a)
        // var b = new Point(50,100)
        // console.log(b)
        // var path = new Path()
        // path.strokeColor = 'black';
        // path.add(a)
        // path.add(b)
        var size = new Size(400,300)
        // var rect = new Rectangle(a,size)
        // path.add(rect)
        // console.log(rect)
        var path = new Path.Circle(view.center, 220);
         path.fillColor = 'green'
        //var rectangle = new Rectangle(view.center,size);
        //var cornerSize = new Size(20, 20);
        //var path = new Path.RoundRectangle(rectangle, cornerSize);
        //path.fillColor = 'green';
        </script>
    </head>
<body onLoad="checkLogin()">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Liar's Poker Game</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#rules">Rules</a></li>
                    <li><a id="loginName" data-target="#loginModal" data-toggle="modal">Login</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="modal fade" id="gameStatusModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Game Status</h4>
                </div>
                <div class="panel-body">
                    <table id="playerStatusTable" class="table">
                        <th> Name </th>
                        <th> Card Count </th>
                        <th> Position </th>
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="okdeal" type="button" class="btn btn-default" data-dismiss="modal">Okay, Deal!</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div id="handType" class="btn btn-group-vertical">
                    <button type="button" class="btn btn-default">Royal Flush</button>
                    <button type="button" class="btn btn-default">Straight Flush</button>
                    <button type="button" class="btn btn-default">Four of a Kind</button>
                    <button type="button" class="btn btn-default">Full House</button>
                    <button type="button" class="btn btn-default">Flush</button>
                    <button type="button" class="btn btn-default">Trio</button>
                    <button type="button" class="btn btn-default">Straight</button>
                    <button type="button" class="btn btn-default">Double Pair</button>
                    <button type="button" class="btn btn-default">Pair</button>
                    <button type="button" class="btn btn-default">High Card</button>
                </div>
                <div class="btn btn-toolbar">
                    <div id="valueType" class="btn btn-group-vertical">
                        <button type="button" class="btn btn-default">A</button>
                        <button type="button" class="btn btn-default">K</button>
                        <button type="button" class="btn btn-default">Q</button>
                        <button type="button" class="btn btn-default">J</button>
                        <button type="button" class="btn btn-default">10</button>
                        <button type="button" class="btn btn-default">9</button>
                        <button type="button" class="btn btn-default">8</button>
                        <button type="button" class="btn btn-default">7</button>
                        <button type="button" class="btn btn-default">6</button>
                        <button type="button" class="btn btn-default">5</button>
                        <button type="button" class="btn btn-default">4</button>
                        <button type="button" class="btn btn-default">3</button>
                        <button type="button" class="btn btn-default">2</button>
                    </div>
                    <div class="btn btn-group-vertical">
                    </div>
                </div>
                <div id="suitType" class="btn-group">
                    <button type="button" class="btn btn-default">Spades</button>
                    <button type="button" class="btn btn-default">Diamonds</button>
                    <button type="button" class="btn btn-default">Clubs</button>
                    <button type="button" class="btn btn-default">Hearts</button>
                </div>

            </div>
            <div class="col-md-3">
                <div class="btn btn-group-lg text-center">
                    <button id="betBtn" type="button" class="btn btn-info btn-lg">Bet</button>
                    <button id="challengeBtn" type="button" class="btn btn-danger btn-lg">Challenge</button>
                </div>
                <div id="cards">

                </div>
            </div>
            <div class="col-md-5">
                <div id="previousBet" class="alert alert-info text-center" role="alert">Previous Bet : HighCard_2</div>
                <canvas id="canvas" resize="true"></canvas>
            </div>
        </div>
    </div>

    <script>
         $(".btn-group-vertical > .btn").click(function() {
             $(this).addClass("active").siblings().removeClass("active");
         });

         $(".btn-group > .btn").click(function() {
             $(this).addClass("active").siblings().removeClass("active");
         });

         $("#okdeal").get(0).onclick = function(){
            //var action = "GetCards";//(window.sessionStorage.getItem("isAdmin")==="true")?"Deal":"GetCards";
            var isAdmin = window.sessionStorage.getItem("isAdmin")==="true"
            var player = {
                "id" : Number(window.sessionStorage.getItem("loginId")),
                "name" : window.sessionStorage.getItem("loginName"),
                "email" : window.sessionStorage.getItem("loginEmail")
            }
            if(isAdmin){
                $.ajax({
                url : '/gamePlay/' + @game_id + '/' + 'dealCards',
                data : JSON.stringify(player),
                type : 'GET',
                success : function(response) {
                    console.log("Dealt the cards!");
                    console.log(response)
                        $.ajax({
                        url : '/gamePlay/' + @game_id + '/' + 'getCards',
                        data : JSON.stringify(player),
                        type : 'POST',
                        contentType : 'application/json',
                        success : function(response) {
                            console.log("Received your cards!");
                            console.log(response)
                            var cards = response[0].hand.split(",")
                            for(var i=0;i<cards.length;i++)
                                {
                                    var srcString = "/assets/cards/images/" + cards[i] + ".png";
                                    var img = $('<img id="dynamic" width="80" height="120" hspace="10">'); //Equivalent: $(document.createElement('img'))
                                    img.attr('src', srcString);
                                    img.appendTo('#cards');
                                }
                            }
                        })
                    }
                })
            }
            else
            {
                $.ajax({
                url : '/gamePlay/' + @game_id + '/' + 'getCards',
                data : JSON.stringify(player),
                type : 'POST',
                contentType : 'application/json',
                success : function(response) {
                    console.log("Received your cards!");
                    console.log(response);
                     var cards = response[0].hand.split(",")
                     for(var i=0;i<cards.length;i++)
                        {
                            var srcString = "/assets/cards/images/" + cards[i] + ".png";
                            var img = $('<img id="dynamic" width="80" height="120" hspace="10">'); //Equivalent: $(document.createElement('img'))
                            img.attr('src', srcString);
                            img.appendTo('#cards');
                        }
                    }
                })
            }
            console.log("Message is sent! JSON->" + JSON.stringify(player));
         }


         $("#handType").get(0).onclick = function(btn) {
             window.sessionStorage.setItem("handType", btn.target.textContent)
         }

         $("#valueType").get(0).onclick = function(btn) {
             window.sessionStorage.setItem("valueType", btn.target.textContent)
         }

         $("#suitType").get(0).onclick = function(btn) {
             window.sessionStorage.setItem("suitType", btn.target.textContent)
         }

         $("#betBtn").get(0).onclick = function() {
             // validate the bet by comparing with previous bet from SS.
             var player = {
                 "id": Number(window.sessionStorage.getItem("loginId")),
                 "name": window.sessionStorage.getItem("loginName"),
                 "email": window.sessionStorage.getItem("loginEmail")
             }
             var store = window.sessionStorage
             var bet = {
                 "game_id": @game_id,
                 "round_number": 1, //window.sessionStorage.getItem("round_number"),
                 "turn_number": 1, //window.sessionStorage.getItem("turn_number"),
                 "player_id": player.id,
                 "bet": store.getItem("handType") + "_" + store.getItem("valueType") + "_" + store.getItem("suitType")
             }
             var json = {
                 "action": "Bet",
                 "player": player,
                 "bet": bet
             }
             ws.send(JSON.stringify(json));
             $("#previousBet").get(0).innerHTML = " Previous Bet :" + bet.bet
             console.log("Bet is sent...");
         }

    </script>
</body>
<html>
