
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" type="image/ico" href="@routes.Assets.at("images/favicon.ico")">

        <title>Liar's Poker Game</title>

        <!-- Bootstrap core CSS -->
        <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="@routes.Assets.at("stylesheets/starter-template.css")" rel="stylesheet">

        <script src="https://apis.google.com/js/api:client.js"></script>

        <script type="text/javascript" src="@routes.Assets.at("javascripts/codebird.js")"></script>

        <script type="text/javascript">
            var cb = new Codebird;
            cb.setConsumerKey("3tZ6woyPs0eYLLkCETRDVIICO", "zozuay9xan5IRXdiViE6mpi71JcutREwfWikTZpCPXsWm9RCfE");


            window.fbAsyncInit = function() {
                FB.init({
                    appId: '962083260497512',
                    xfbml: true,
                    version: 'v2.4'
                });
            };

            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if(d.getElementById(id)) {
                    return;
                }
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

            var googleUser = {};
            var startApp = function() {
                gapi.load('auth2', function() {
                    // Retrieve the singleton for the GoogleAuth library and set up the client.
                    auth2 = gapi.auth2.init({
                        client_id: '116777801623-0l4ivhohb1ob3l7le4n5bdi09q7udeqq.apps.googleusercontent.com',
                        cookiepolicy: 'single_host_origin',
                        // Request scopes in addition to 'profile' and 'email'
                        //scope: 'additional_scope'
                    });
                    attachSignin(document.getElementById('google-login-btn'));
                    //auth2.attachClickHandler('google-login-btn', {});
                });
            };

            startApp()

            //attachSignin(document.getElementById('google-login-btn'));

            function attachSignin(element) {
                console.log(element.id);
                auth2.attachClickHandler(element, {},
                    function(googleUser) {
                        document.getElementById('loginName').innerText =
                            googleUser.getBasicProfile().getName();

                        var player = {
                            id : 0,
                            name : googleUser.getBasicProfile().getName(),
                            email : googleUser.getBasicProfile().getEmail()
                        }

                        var jqxhr = $.ajax({
                            type : "PUT",
                            url : "/persistLoginInfo",
                            contentType : "application/json",
                            data : JSON.stringify(player)
                        })

                        $('#loginModal').modal('hide');
                    },
                    function(error) {
                        alert(JSON.stringify(error, undefined, 2));
                    });
            }
        </script>
        <meta name="google-signin-scope" content="profile email">
    </head>

    <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Liar's Poker Game</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#rules">Rules</a></li>
                    <li><a id="loginName" data-target="#loginModal" data-toggle="modal">Login</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">
        <div>
            <img src="@routes.Assets.at("images/cards.jpg")" height="500" width="100%">
        </div>
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button id="createGameBtn" type="button" class="btn btn-lg btn-primary">Start Game</button>
            </div>
            <div class="btn-group" role="group">
                <button id="joinGameBtn" type="button" class="btn btn-lg btn-primary">Join Game</button>
            </div>
            <div class="btn-group" role="group">
                <button id="watchGameBtn" type="button" class="btn btn-lg btn-primary">Watch Game</button>
            </div>
        </div>

    </div><!-- /.container -->

        <!-- Login Modal -->
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Please Login</h4>
                    </div>
                    <div class="panel-body">
                        <div>
                            <div id="login-btns" style=""  align="center">
                                <a href="#"><img id="fb-login-btn" src="http://techulus.com/buttons/fb.png" /></a><br/>
                                <a href="#"><img id="twitter-login-btn" src="http://techulus.com/buttons/tw.png" /></a><br/>
                                <a href="#"><img id="google-login-btn" src="http://techulus.com/buttons/gplus.png" /></a><br/>
                            </div>
                            <form>
                                <input style="display: none;" id="pin" name="textinput" type="text" placeholder="Enter Twitter Pin" class="form-control input-md">
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="submitPin" type="button" class="btn btn-primary">Login</button>
                    </div>
                </div>
            </div>
        </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="@routes.Assets.at("javascripts/jquery-1.11.3.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script>
            document.getElementById('fb-login-btn').onclick = function()
        {
            var fbCallback = function() {
                FB.api('/me', function(response) {
                    console.log(response);
                    var userId = response.id
                    FB.api('/' + userId, {
                        fields: ['id', 'email', 'name']
                    }, function(response) {
                        console.log(response);
                        document.getElementById('loginName').innerText = response.name

                        var player = {
                            id : 0,
                            name : response.name,
                            email : response.email
                        }

                        var jqxhr = $.ajax({
                            type : "PUT",
                            url : "/persistLoginInfo",
                            contentType : "application/json",
                            data : JSON.stringify(player)
                        })

                        $('#loginModal').modal('hide');
                    });
                });
                }
                FB.getLoginStatus(function(response) {
                    if(response.status === 'connected') {
                        console.log('Logged in.');
                        fbCallback()
                    }
                    else
                    {
                        FB.login(function(response) {
                            console.info('FB.login response', response);
                            fbCallback()
                        }, {
                            scope: 'email'
                        });
                    }
                 }
                );
        }
        //              document.getElementById('google-login-btn').onclick = function(googleUser) {
        //                // Useful data for your client-side scripts:
        //                var profile = googleUser.getBasicProfile();
        //                console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        //                console.log("Name: " + profile.getName());
        //                console.log("Image URL: " + profile.getImageUrl());
        //                console.log("Email: " + profile.getEmail());
        //
        //                // The ID token you need to pass to your backend:
        //                var id_token = googleUser.getAuthResponse().id_token;
        //                console.log("ID Token: " + id_token);
        //              };

            document.getElementById('twitter-login-btn').onclick = function() {

                // the below is equivalent to document.getElementById
                $("#login-btns").get(0).style.display = "none";
                $("#pin").get(0).style.display = "inline-block";
            // gets a request token
                cb.__call(
                    "oauth_requestToken",
                    {
                        oauth_callback: "oob"
                    },
                    function(reply) {
                        // stores it
                        cb.setToken(reply.oauth_token, reply.oauth_token_secret);

                        // gets the authorize screen URL
                        cb.__call(
                            "oauth_authorize",
                            {},
                            function(auth_url) {
                                window.codebird_auth = window.open(auth_url);
                            }
                        );
                    }
                );
            }

            document.getElementById('submitPin').onclick = function() {
                cb.__call(
                    "oauth_accessToken",
                    {
                        oauth_verifier: document.getElementById("pin").value
                    },
                    function(reply) {
                        // store the authenticated token, which may be different from the request token (!)
                        cb.setToken(reply.oauth_token, reply.oauth_token_secret);

                        // if you need to persist the login after page reload,
                        // consider storing the token in a cookie or HTML5 local storage

                        document.getElementById('loginName').innerText = reply.screen_name
                        console.log(reply.screen_name)
                        console.log(reply.user_id)

                        var player = {
                            id : 0,
                            name : reply.screen_name,
                            email : reply.screen_name + "@Html("@twitter.com")"
                        }

                        var jqxhr = $.ajax({
                            type : "PUT",
                            url : "/persistLoginInfo",
                            contentType : "application/json",
                            data : JSON.stringify(player)
                        })

                        $('#loginModal').modal('hide');
                    }
                );
            }

            $("#createGameBtn").get(0).onclick = function() {
                    var isLoggedIn = $("#loginName").text()!="Login"
                    if(isLoggedIn)
                    {
                        var game = {
                        "id" : 0,
                        "name" : $("#loginName").text() + "'s Game",
                        "joined_players" : 1,
                        "max_players" : 5,
                        "winner_player" : -1,
                        "status" : "Waiting"
                        }

                        var jqxhr = $.ajax(
                        {
                            type : "PUT",
                            url : "/createGame",
                            contentType : "application/json",
                            data : JSON.stringify(game)
                        })
                    }
                    else
                        alert("You need to login to Join or Create a Game!")

             }

            $("#joinGameBtn").get(0).onclick = function() {
                    var isLoggedIn = $("#loginName").text()!="Login"
                    if(isLoggedIn)
                    {
                        var jqxhr = $.ajax({
                            type : "GET",
                            url : "/activeGames",
                            dataType : "json",
                            success : function(response) {
                                console.log(response)
                            }
                        })
                    }
                    else
                        alert("You need to login to Join or Create a Game!")
            }

        </script>
    </body>
    </html>
