@(liveGames : List[GameStatus])
<!DOCTYPE html>

<html>
    <head>
        <style>
        body {
        padding-top: 70px;
        padding-bottom: 30px;
        }
        /*.col-xs-3.custom_border {*/
        /*border-radius: 10px;*/
        /*border-style : solid;*/
        /*border-width : 3px;*/
        /**/
        /*}*/
        </style>
        <script>
            var store = window.sessionStorage
            function checkLogin() {
             if(store.length!=0)
                document.getElementById('loginName').innerText = store.getItem("loginName")
            }
        </script>
        <title>Watching Game</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/ico" href="@routes.Assets.at("images/favicon.ico")">
            <!-- Bootstrap core CSS -->
        <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">

            <!-- Custom styles for this template -->
        <link href="@routes.Assets.at("stylesheets/starter-template.css")" rel="stylesheet">

            <!-- Bootstrap core JavaScript
    ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
        <script src="@routes.Assets.at("javascripts/jquery-1.11.3.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
    </head>
    <body onload="checkLogin()">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Liar's Poker Game</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#rules">Rules</a></li>
                        <li><a id="loginName" data-target="#loginModal" data-toggle="modal">Login</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container">
            <h2>
                Live Games
            </h2>

            <div class="row container-fluid">
            @for(game <- liveGames){
                <div class="col-xs-3 custom_border" >
                    <h3>@game.name</h3>
                    <p id="@game.game_id"> </p>
                    <p name="@game.game_id"><a class="btn btn-success" href="#" role="button" onclick="watchBtnClicked(this)">Watch &raquo;</a></p>
                </div>

                <script>
                    //var remaining_players = @game.max_players - @game.joined_players
                    var game_id = @game.game_id
                    document.getElementById(game_id).innerText = "Round " + @game.status + " in play"
                </script>
            }

            </div>
        </div>
    </body>
    <script src="@routes.Assets.at("watchGameEvents.js")"></script>
</html>